main{
    text-align: center;
    justify-content: center;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transform: translateY(-3vh);
}

h1{
    font-size: 3.3rem;
    font-weight: 600;
}

body{
    background-color: #2D7C66;
    color:#E7FBE6;
}

.timer{
    margin-left: 37.5vw;
    max-width:25vw;
}

button{
    background-color: transparent;
    color:#FFFFFF;
    border:0;
    display: inline-block;
    width:67px;
    cursor:pointer;
}



.time-picker {
    transform:translateY(-30px);
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .time-picker__sliders{
    position:relative;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 22vw;
    cursor: pointer;
    height: 7px;
    border-radius: 5px;
    background: #E2F4C5;
    outline: none;
    opacity: 0.7;
    transition: opacity .6s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    min-width: 0.8rem;
    min-height: 0.8rem;
    width: 1.2vw;
    height:1.2vw;
    border-radius: 50%;
    background: #E8B86D;
    cursor: pointer;
  }
  
  .slider:hover {
    opacity: 1;
  }

  .time-picker__output {
    margin-left:2rem;
    margin-right:2rem;
    font-size: 4.8rem;
    font-weight: 600;
  }