main{
    text-align: center;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    height:88vh;
    font-weight: 400;
    font-style: normal;
    align-content: center;
}

h1{
    font-size: 4rem;
    font-weight: 600;
}

body{
    background-color: #2D7C66;
    color:#E7FBE6;
}

.contain_Timer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.timer {
  width: 25vw;
  min-width: 350px;
  transition: opacity 0.8s ease;
}

button{
    background-color: transparent;
    color:#FFFFFF;
    border:0;
    display: inline-block;
    width:67px;
    cursor:pointer;
}

.time-picker {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .time-picker__sliders{
    position:relative;
  }
  .settings{
    transition: opacity 0.5s ease;
  }
  
  .back-button {
    font-family: "Raleway", system-ui;
    position: absolute;
    top: 35px;
    left: 25px;
    font-size: 1.2rem;
  }
  .back-button:hover{
    color: #fffbd3;
    transition: ease-in 0.25s;
  }
  
  .end-time-display {
    padding: 20px;
    font-size: 1.5rem;
    width:100%;
  }

  .reset{
    font-family: "Raleway", system-ui;
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
  }
  .reset:hover{
    color: #bcf733;
    transition: ease-in 0.25s;
  }

  .icon{
    margin-top:20px;
  }
  .icon:hover{
    color: #ffdfa5;
    transition: ease-in-out 0.3s;
  }

  .slider {
    appearance: none;
    width: 22vw;
    cursor: pointer;
    height: 7px;
    border-radius: 5px;
    background: #E2F4C5;
    outline: none;
    opacity: 0.5;
    transition: opacity .6s;
  }

  .thumb{
    -webkit-appearance: none;
    appearance: none;
    min-width: 0.8rem;
    min-height: 0.8rem;
    width: 1.2vw;
    height:1.2vw;
    border-radius: 50%;
    background: #E8B86D;
    cursor: pointer;
  }
  
  .slider:hover {
    opacity: 1;
  }

  .time-picker__output {
    margin-left:2rem;
    margin-right:2rem;
    font-size: 7rem;
    font-weight: 600;
  }


.timer_end_button{
  color:#26acb1;
  font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2rem;
  width: 100%;
  margin-top:-2vh;
}

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    align-content: center;
    background: white;
    color:#2D7C66;
    padding: 20px;
    font-size: 5rem;
    width:50%;
    height:50%;
    border-radius: 8px;
    text-align: center;
  }

  .buttons{
    width:100%;
    font-family: "Raleway", system-ui;
    font-size: 1.5rem;
    margin-top:40px;
  }
  .buttons:hover{
    color: #ffad2a;
    transition: ease 0.3s;
  }

  .duration{
    margin-top:40px;
    font-size: 1.8rem;
    justify-content: center;
    }


.sleep-message{
  padding:10px;
  font-size: 1.2rem;
  color:#aff390;
}

@media(max-width:700px){
  h1{
    font-size: 3rem;
  }
  .time-picker__output{
    font-size: 5.2rem;
    margin-left:0.2rem;
    margin-right:0.2rem;
  }
  .duration{
    font-size: 1.8rem;
  }
}